* {
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(145, 255, 102);
}

main {
    background-color: rgb(243, 243, 243);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 2px rgba(22, 22, 21, 0.608);
}